@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  margin:0;
  padding:0;
}

html{
  font-size: 15px;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a3f;
  padding: 2.5rem;
}
.main-container {
  display: flex;
  flex-wrap:wrap;
  gap: 1.5rem;
}

.container{
  display:flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #11112b;
  border-radius: 0.5rem;
  padding-bottom: 1.5rem;
  min-width: 20rem;
  min-height: 20rem;
  overflow: hidden;
}

.profile img{
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.container h1, h2, span, .company {
  margin-left: 2rem;
  color: #9d9fab;
}

.container h2, span {
  color: #636f7c;
}

h1{
  font-size: 1.3rem;
}

h2{
  font-size: 1rem;
}

span{
  font-size: 0.8rem;
}

.company img{
  height: 2rem;
}

#uber {
  height: 1.2rem;
}

#add-item{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  box-shadow: 0 0 0.3rem black;
}

#add-item span{
  font-size: 3.5rem;
  margin: 0;
}

#add-item p{
  font-size: 1rem;
  color: #706b71;
}

@media (max-width: 400px){
  body{
    padding: 2.5rem;
  }
  .main-container {
    flex-direction: column;
  }

  .container {
    min-width: auto;
  }
}