@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    margin:0;
    background-color: #ebebeb;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

header{
    padding-left: 3rem;
    color:blue;
}
header h1{
    font-size: 3.5rem;
    font-weight: 700;
}

.main_container{
    display:flex;
    padding: 1rem 4rem;
    align-items: center;
    gap: 4rem;
}

form{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
}

form div{
    display: flex;
    flex-flow: column;
}

form label{
    font-size: 1rem;
    color:#5c73c2;
}

form select{
    background-color: transparent;
    font-size: 1.2rem;
    border: 1px solid #d4cfe8;
}

.input_div input{
    font-size: 1.2rem;
    outline: none;
    border: none;
    border: 1px solid #d4cfe8;
}

#add_btn{
    background-color: blue;
    color:white;
    border: none;
    font-size: 1.4rem;
}

form select, input, #add_btn{
    padding: 0.6rem 2rem; 
    border-radius: 0.3rem;
}

.right_showcase{
    display: flex;
    background-color: white;
    border-radius: 0.6rem;
    gap: 2rem;
    padding:1.5rem;
    margin-top: -5rem;;
}

.logo{
    align-self: flex-start;
    padding: 0.6rem;
    border-radius:50%;
    box-shadow: 0 1px 5px rgba(211, 211, 211, 0.85);
}
.logo img{
    width: 3rem;
    height: 2.6rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
}

.head_tags{
    display: flex;
    justify-content: space-between;
}

.priority{
    background-color: #ff2b8a;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
    color:white;
}

.date{
    color:grey;
}
.task_name{
    color:#5725a6;
    font-size: 1.8rem;
}
.task_tags{
    display: flex;
    gap: 0.6rem;
}
.task_tags span{
    background-color: #dcdcdc;
    color:#5c73c2;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
}

.des{
    display: flex;
    gap:5rem;
    color:#5c73c2;
}
i{
    color:grey;
    height:0.5rem;
}

.comments{
    align-self: flex-end;
}