@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
body{
    font-family: 'Public Sans', sans-serif;
    background-color: #31293f;
    color: white;
    font-size: 20px;
    margin:0;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
}
.main-container {
    display: flex;
    flex-direction: column;
}

.container1 {
    display:flex;
    align-items: center;
    gap: 2rem;
    background-color: #ff6e6e;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 2rem;
}

.images{
    display:flex;
}
img{
    width: 4.5rem;
    border-radius:50%;
    border: 3px solid white;
}

.image1{
    position: relative;
    z-index: 1;
    margin-right: -1rem;
}
.image3{
    margin-left: -1rem;
}

.heading{
    line-height: 2rem;
}

.names {
    font-size: 2rem;
    font-weight: 600;
}
.container2{
    display: flex;
    padding: 2rem;
    background-color: #2a2239;
    gap: 2rem;
}

.container2 div{
    background-color: #3d344c;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container2 img{
    align-self: flex-start;
}
.container3{
    display:flex;
}

.container3 {
    display: flex;
    background-color: #2a2239;
    border-radius: 0 0 0.5rem 0.5rem;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
}

.container3 div{
    display: flex;
    border-radius: 2rem;
    width: 100%;
    height: 3rem;
}

.container3 input{
    padding: 1rem;
    background-color: #3d344c;
    outline: none;
    border: 1px solid #ff6e6e;
    border-radius: 2rem 0 0 2rem;
    flex-basis: 90%;
}

.fa-paper-plane {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ff6e6e;
    border-radius: 0 2rem 2rem 0;
}

.cross{
    align-self: flex-end;
    padding-top: 1rem;
}

.fa-xmark{
    background-color: #ff6e6e;
    border-radius: 50%;
    padding: 1rem;
    font-size: 3rem;
}