@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}
html{
    font-size: 16px;
}
body{
    margin:0;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    background-color: #f7f7fc;
}

.main_container{
    background-color: white;
    box-shadow: 0 0 0.3rem rgba(0,255,0, 0.3);
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    color: #b6b6b6;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
}

.nav{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
}

.nav span{
    align-self: flex-end;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.nav i{
    font-size: 1.5rem;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 0.3rem;
}

.title h1{
    font-size: 1rem;
}

.title span{
    font-size: 0.7rem;
}

.image{
    display: flex;
    padding: 0 1.5rem;
}
.image img{
    box-shadow: 0 0 0.5rem rgba(0,0,0, 0.8);
}


.controls{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.seek hr{
    border-top: 4px solid #e7e7e7;
    border-bottom: none;
    border-radius: 1rem;
    outline: none;
    margin-bottom: 3px;;
}

.seek{
    align-self: stretch;
}

.seek div{
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}

.menu{
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.fa-circle-play{
    font-size: 3rem;
    color: #949494;
}

.playlist{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.playlist .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.current{
    color: black;
}

.current div{
    display: flex;
    align-items: center;
    margin-left: -7px;
}
.fa-circle{
    color: limegreen;
    font-size: 0.3rem;
}